.skillBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #f8ff3d;
    text-align: center;
    padding: 10px;
}

.skillIcon {
    width: 60px;
    height: 60px;
    background-color: saddlebrown;
}

.skillBlock h3 {
    background-color: #7e03e0;
}